.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  input {
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    margin-left: 10px;
  }
  
  li {
    list-style: none;
    margin: 10px 0;
  }
  